<!-- 頂部導航欄 -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AI RPG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#characterModal">
                        <i class="fas fa-users"></i> 角色管理
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#chatHistoryModal">
                        <i class="fas fa-history"></i> 聊天記錄
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#worldSettingModal">
                        <i class="fas fa-globe"></i> 世界觀設定
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#promptEnhancerModal">
                        <i class="fas fa-magic"></i> 提示詞增強
                    </a>
                </li>
            </ul>
            <div class="nav-right">
                <button class="btn btn-settings" type="button" data-bs-toggle="modal" data-bs-target="#settingsModal">
                    <i class="fas fa-cog"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
