{% extends "base.html" %}

{% block title %}AI RPG - 遊戲主頁{% endblock %}

{% block content %}
<div class="container-fluid game-container">
    {% include 'components/navbar.html' %}
    {% include 'components/game_area.html' %}
    {% include 'components/modals.html' %}
</div>
{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/pages/game.css') }}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="module" src="{{ url_for('static', filename='js/pages/game.js') }}"></script>
{% endblock %}
